/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

html{
	width:100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/*MAIN*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
	width:100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

a{
	color: inherit;
	text-decoration: none;
}

a.colored{
	color: #4c9cf1;
}

nav a {
	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #444;
}

textarea{
	width: 100%;
}

header {
	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #4C9CF1;
	z-index: 100;
}

#logo{
	font-size: 1.8em;
	font-weight: bold;
	color: #4C9CF1;
	margin: 20px 0 ;
	float: left;
	width: 220px;
	height: 40px;
	display: block;
}

nav {
	float: right;
	padding: 20px;	
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;
}

a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}

table td{
	padding: 2px;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
	float: left;
	padding: 10px
}

.current {
	color: #2262AD;
}

section {
	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px
}

h1 {
	font-size: 1.5em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0 ;
}

h2 {
	padding-top: 30px;
	padding-bottom: 10px;
}

p {
	line-height: 1.45em;
	margin-bottom: 20px;
}

.obvestilo{
	text-align: center;
}

.list_storitev{
	padding-left: 40px;
}

.list_storitev li{
	padding-bottom: 10px;
}

.opomba{
	font-size: 0.8em;
}

.opis_storitve div{
	padding-bottom: 5px;
}

.opis_storitve table{ 
	width: 100%;
	margin-top: 20px;
}

.opis_storitve li{
	padding-left: 20px;
}

.lista li{
	padding-bottom: 5px;
}

.lista{
	padding-left: 40px;
}

.lista_no_style{
	list-style-type: none;
}

.stolpec_levo{
	float: left;
	margin-right: 80px;
	width: 300px;
}

.stolpec_desno{
	float: left;
	width: 300px;
}

.dots{
	padding-left: 30px;
	font-size: 16pt;
	color: #999999;
}

.prijava{
	padding-bottom: 5px;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 800px) {

header {

	position: absolute;

}

#menu-icon {

	display:inline-block;

}

nav ul, nav:active ul { 

	display: none;
	position: absolute;
	padding: 20px;
	background: #fff;
	border: 5px solid #444;
	right: 20px;
	top: 60px;
	width: 40%;
	border-radius: 4px 0 4px 4px;

}

nav li {

	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin: 0;

}

nav:hover ul {

	display: block;

}